/* TaskItem.css */
.task-item {
  background-color: #1e1e1e;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-title {
  flex: 1;
  margin-left: 0.5rem;
  font-size: 1rem;
}

.icon-button {
  background: none;
  border: none;
  color: #ffffff;
  margin-left: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.icon-button:hover {
  color: #fdd835;
}
